body  
    {  
        margin: 0;  
        padding: 0;  
        background: linear-gradient(to bottom, #33ccff 0%, #ffccff 100%)
        /* font-family: 'Arial';   */
    }  
    .login{  
            width: 382px;  
            overflow: hidden;  
            margin: auto;  
            margin: 20 0 0 450px;  
            padding: 80px;  
            background: #05fafa;  
            border-radius: 15px ;
      
              
    }  
    h2{  
        text-align: center;  
        color: #060707;  
        padding: 20px;  
    }  
    label{  
        color: #0a0a0a;  
        font-size: 17px;  
    }  
    #Uname{  
        width: 100%;  
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 10px; 
    }
    
    #Email{  
        width: 100%;  
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 10px; 
    
    }
    
    #Email{
      width: 100%;  
      height: 30px;  
      border: none;  
      border-radius: 3px;  
      padding-left: 10px; 
     
 
  
  }
    
    #Address{  
        width: 100%;   
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 10px;
              
    }  

  
    
  #Email{  
      width: 100%;   
      height: 30px;  
      border: none;  
      border-radius: 3px;  
      padding-left: 10px;
            
  }  
    
    #phone{
        width: 100%;   
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 10px;
              

    }

    #Email{
      width: 100%;   
      height: 30px;  
      border: none;  
      border-radius: 3px;  
      padding-left: 10px;
            

  }

    #Email{
    width: 100%;   
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 10px;
          

  }
    #Pass{  
        width: 100%;   
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 8px;
    }  
    
    
    #log{  
        width: 100%;  
        height: 30px;  
        border: none;  
        border-radius: 17px;  
        padding-left: 7px;  
        color: blue;  
      
      
    }  
    span{  
        color:black;  
        font-size: 17px; 

    
    }  
    a{  
        float: right;  
        background-color: rgb(247, 239, 239);  
    }  
    .btn {
        background-color:#33ccff 0%;
        color:black; 
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      
      .btn:hover {
        opacity: 1;
        font-size: 17px; 
      }